.nav {
  
  @media (min-width: 740px) {    
    position: absolute;
    top: 0;
    right: 5px;
  }
  
  @media (min-width: 890px) {    
    position: fixed;
  }
  
  a {
    font-weight: bold;
    color: lighten($c-green, 20);
    text-transform: uppercase;
    transition: color .2s;

    &:hover {
      color: $c-green;
    }

    &.router-link-exact-active {
      color: $c-grey;
    }
  }
}
