/* oswald-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/oswald/oswald-v31-latin-regular.eot');
  src: local(''),
       url('/assets/fonts/oswald/oswald-v31-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/oswald/oswald-v31-latin-regular.woff2') format('woff2'), 
       url('/assets/fonts/oswald/oswald-v31-latin-regular.woff') format('woff'),
       url('/assets/fonts/oswald/oswald-v31-latin-regular.ttf') format('truetype'),
       url('/assets/fonts/oswald/oswald-v31-latin-regular.svg#Oswald') format('svg');
}

* {
  box-sizing: border-box;
}

html, body, input, #app, button, input, textarea {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-white;
}

html, body,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  color: lighten($c-green, 20);
  transition: color .2s;

  &:hover {
    color: $c-green;
  }
}
