@import 'color';
@import 'restart';
@import 'nav';
@import 'spine';
@import 'form';
@import 'home';
@import 'listing';

body {
  background-attachment: fixed;
  background-color: #846a53;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.no-js,
.no-webp body {
  background-image: url('/assets/img/brown-paper.jpg');
}

.webp body {
  background-image: url('/assets/img/brown-paper.webp');
}

.siteContainer {
  margin-left: 70px;
  
  @media (min-width: 500px) {
    margin-left: 125px;
  }

  @media (min-width: 640px) {
    margin-left: 150px;
  }
}


.centralContainer {
  margin: 85px 10px 10px 0;
  max-width: 450px;

  @media (min-height: 650px) {
    align-items: center;
    display: flex;
    margin: auto 10px auto 0;
    min-height: calc(100vh - 25px);
    padding-bottom: 10px;
  }
}

.underground {
  text-transform: uppercase;
  padding: 0 5px;
  &--northern {
    background-color: black;
    color: white;
  }
}


