.home {
  text-transform: uppercase;
  font-size: 25px;
  max-width: 500px;
}

.home__title {
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}

.home__subtitle {
  font-size: 1.5em;
  margin: 0 0 25px;
}

.home__date {
  display: block;
  padding: 25px 0;
  margin: 25px 0;
  display: table-caption;
  position: relative;

  &:before,
  &:after {
    content: '';
    width: 25px;
    height: 4px;
    background-color: $c-green;
    position: absolute;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.home__location {
  margin-bottom: 25px;

  &__line {
    display: flex;
    align-items: center;
    line-height: 25px;

    &:nth-child(2){
      margin-top: 2px;
    }
  }

  &__map {
    margin-left: 5px;
    font-size: 16px;
    color: lighten($c-green, 20);
    transition: color .2s;

    &:hover {
      color: darken($c-green, 30);
    }
  }

  &__underground {

    svg {
      margin-top: 2px;
    }

    span {
      margin-left: 5px;
    }

    .underground {
      margin-top: 3px;
      font-size: 16px;
      padding: 0 5px;
    }
  }
}
