.nav {
  position: absolute;
  top: 0;
  right: 5px;
  
  a {
    font-weight: bold;
    color: $c-grey;
    text-transform: uppercase;

    &.router-link-exact-active {
      color: $c-green;
    }
  }
}
