.spine {
  background-color: $c-green;
  color: $c-white;
  width: 50px;
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  left: 10px;
  text-transform: uppercase;
  transition: background-color .5s;
  top: 0;

  &:hover {
    background-color: darken($c-green, 5);
  }

  @media (min-width: 500px) {
    width: 100px;
  }
}

.spine__text {
  display: none;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 10px;
  
  flex-direction: column;
  width: 100px;
  justify-content: center;

  @media (min-width: 500px) {
    display: flex;
  }

  h1, h2 {
    font-size: 25px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
}

.spine__logo {
  background: darken($c-green, 10) url('/img/svg/jn.svg');
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 500px) {
    height: 100px;
  }
}

.siteContainer {
  margin-left: 85px;
  
  @media (min-width: 500px) {
    margin-left: 155px;
  }
}
