---
layout: base.njk
eleventyExcludeFromCollections: true
---

<div class="gifts">
  <h1>With love…</h1>
  <p>Some people like to give presents… others like words. Take your pick:</p>

  <h2>Words</h2>
  <p>Nat loves word; write us a letter,
    craft a <a href="/haiku">haiku</a>, or
    send us a card.</p>

  <h2>Time</h2>
  <p>Come and join us on the Second of May 2020.</p>
  <p><a href="/rsvp">Let us know you're coming</a>.</p>

  <h2>Service</h2>
  <p>Maybe at some point we'll need help moving house, painting a room,
    playing a game… Let us know you'll help.</p>

  <h2>Touch</h2>
  <p>Feel free to give Nat a hug the next time you see her, she'll appreciate that.</p>

  <h2>Gifts</h2>
  <p>If you want to buy us a gift, you can explore our <a href="https://www.weddingshop.com/Buy/View/68330">gift list</a>.</p>

</div>
