---
layout: base.njk
eleventyExcludeFromCollections: true
---

<div class="home">
  <h1 class="home__title"> James &amp; Natalie </h1>
  
  <div class="home__date">
    2nd May 2020
  </div>
  
  <!--
  <h2 class="home__subtitle">You're invited</h2>
  
  <div class="home__location">
    <p>
      <span class="home__location__line">2pm at St. John's, Hoxton</span>
      <span class="home__location__line">Pitfield Street, N1 6NP</span>
    </p>
  </div>
  -->
  
  <div>
    <a href="/loop" class="btn btn--block" aria-label="Let us know you're coming">
      Stay in the Loop
    </a>
  </div>

</div>
