---
layout: default
eleventyExcludeFromCollections: true
---

<div>
  <h1>Stay in the Loop</h1>

  <p>So, obviously things <a href="/updates">didn't quite go to plan…</a> While we may not be able to share the marriage day with you, we're still looking forward to our wedding day celebrations at some point in the near future.</p>

  <p>Please fill out the form and we'll keep you upto date as things progress.</p>

  <form action="https://secondofmay.us4.list-manage.com/subscribe/post?u=c335cbaae4eb8bf9dce39b6a6&amp;id=0804ecbe8b" method="post">
	
    <div class="rsvpForm__group">
      <label for="mce-FNAME" class="rsvpForm__label">
        My name is…
      </label>
      <div class="nameFields__fields">
        <input type="text" value="" placeholder="First name" name="FNAME" id="mce-FNAME" class="underlinedInput">
      </div>

      <div class="nameFields__fields">
        <input type="text" value="" placeholder="Family name" name="LNAME" class="underlinedInput" id="mce-LNAME">
      </div>
    </div>

    <div class="rsvpForm__group">
      <label for="mce-EMAIL" class="rsvpForm__label">You can contact me by emailing</label>
      <input type="email" value="" name="EMAIL" placeholder="email@emailaddress.com" id="mce-EMAIL" class="underlinedInput underlinedInput--wide underlinedInput--block">
    </div>

	  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_c335cbaae4eb8bf9dce39b6a6_0804ecbe8b" tabindex="-1" value="">
    </div>

    <div class="rsvpForm__group">
      <input type="submit" value="Stay in the loop" name="subscribe" class="btn btn--block">
    </div>
</form>

<!--End mc_embed_signup-->
</div>
